name: CI
on:
- push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
        - '1.24'
        - '1.25'
    steps:
    - uses: actions/checkout@v3
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - name: Display Go version
      run: go version
    - name: Run tests
      run: go test
